node_modules/
dist/
dist_installer/
dist_installer_v2/
dist_electron/
data/*
!data/.gitkeep
*.log
*.exe
*.msi
*.zip
*.blockmap
*.nsis
Thumbs.db
.DS_Store
builder-debug.yml
latest.yml
win-unpacked/
{css,js,pages,data}/
{pages,js,css,data}/
{css,js,pages}/
_tmp_extract/
